@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply text-secondary-600 text-[16px] bg-secondary-900 box-border;
    /* font-family: 'Chivo Mono', monospace; */
  }
  h1{
    @apply text-[30px] md:text-[50px] font-bold ;
  }
  h2{
    @apply text-[35px] font-bold ;
  }
  h3{
    @apply text-[30px] font-semibold ;
  }
  /* a{
    font-family: 'Chivo Mono', monospace;
  } */
}

@layer components {
  
  .hero-section {
    @apply h-[92vh] md:h-[95vh] lg:h-[90vh] bg-[url('../assets/images/home/mobile/image-hero.jpg')] md:bg-[url('../assets/images/home/mobile/image-hero.jpg')] lg:bg-[url('../assets/images/home/desktop/image-hero.jpg')] bg-no-repeat bg-center bg-cover;
  }

  .btn-primary{
    @apply py-[12px] px-[35px] font-medium;
  }

  .home-product{
    @apply bg-[url('../assets/images/home/desktop/pattern-circles.svg')] bg-no-repeat bg-center bg-cover;
  }

  .speaker-bg{
    @apply h-[320px] bg-[url('../assets/images/home/mobile/image-speaker-zx7.jpg')] md:bg-[url('../assets/images/home/tablet/image-speaker-zx7.jpg')] lg:bg-[url('../assets/images/home/desktop/image-speaker-zx7.jpg')] bg-no-repeat bg-center bg-cover;
  }

  .earphone-bg{
    @apply bg-[url('../assets/images/home/mobile/image-earphones-yx1.jpg')] md:bg-[url('../assets/images/home/tablet/image-earphones-yx1.jpg')] lg:bg-[url('../assets/images/home/desktop/image-earphones-yx1.jpg')] bg-no-repeat bg-center bg-cover;
  }

  .bestgear-bg{
    @apply bg-[url('../assets/images/shared/mobile/image-best-gear.jpg')] md:bg-[url('../assets/images/shared/tablet/image-best-gear.jpg')] lg:bg-[url('../assets/images/shared/desktop/image-best-gear.jpg')] bg-no-repeat bg-center bg-cover h-[300px] lg:h-[568px]  rounded-lg;
  }
}

.cart-modal{
  background-color: rgb(0, 0, 0, 0.6)
}

.category-card:hover button{
  color: #D87D4A;
}


